# Server
PORT=7000
NODE_ENV=development

# MongoDB
MONGO_URL=mongodb://localhost:27017/flexcharge

# Auth — Tenant JWT
JWT_SECRET=change_me_to_a_random_64_char_string
JWT_EXPIRES_IN=24h

# Auth — Customer Portal JWT
PORTAL_JWT_SECRET=change_me_to_a_different_random_64_char_string
PORTAL_JWT_EXPIRES_IN=1h

# App
API_BASE_URL=http://localhost:7000

# Nomba API (fill in during hackathon)
# NOMBA_BASE_URL=https://sandbox.nomba.com
# NOMBA_CLIENT_ID=
# NOMBA_CLIENT_SECRET=
# NOMBA_ACCOUNT_ID=
# NOMBA_WEBHOOK_SECRET=
